# SPDX-License-Identifier: MIT
# Copyright (c) 2026 Advanced Micro Devices, Inc. All rights reserved.

name: Lint & Auto-Fix

run-name: Linting, formatting, fixing by ${{ github.actor }}

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.12"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - uses: astral-sh/ruff-action@v3

      - name: Run ruff check
        run: ruff check --fix

      - name: Run ruff format
        run: ruff format

      - name: Fail if formatting changes are needed
        run: |
          if [[ -n $(git status --porcelain) ]]; then
            echo "Formatting or linting changes are needed. Please run 'ruff check --fix' and 'ruff format' and commit the changes."
            exit 1
          fi
